body {
  font-family: Arial, sans-serif;
}
.particles-container {
  position: absolute;
  z-index: 10;   /* Điều chỉnh z-index nếu cần */
}
.hero {
  height: 100vh;
  position: relative;
  color: white;
  text-align: center;
}

.title {
  position: relative;
  background-color: none;
}

.ctaButton2 {
  padding: 15px 30px;
  font-size: 0.5em;
  color: white;
  background-color: #00c853;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

.featureImage {
  border-bottom: 4px solid #00c853;
}

.stat-description,
.paragraph {
  color: #333;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Điều chỉnh kích thước biểu tượng tại đây */
  height: 30px; /* Điều chỉnh kích thước biểu tượng tại đây */
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}
