body {
  font-family: Arial, sans-serif;
}
.particles-container {
  position: absolute;
  z-index: 10;   /* Điều chỉnh z-index nếu cần */
}
.hero {
  height: 100vh;
  position: relative;
  color: white;
  text-align: center;
}

.title {
  position: relative;
  background-color: none;
}

.ctaButton2 {
  padding: 15px 30px;
  font-size: 0.5em;
  color: white;
  background-color: #00c853;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

.featureImage {
  border-bottom: 4px solid #00c853;
}

.stat-description,
.paragraph {
  color: white;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Điều chỉnh kích thước biểu tượng tại đây */
  height: 30px; /* Điều chỉnh kích thước biểu tượng tại đây */
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}
.featureItem {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển động mượt mà */
}

.featureItem:hover {
  transform: translateY(-10px); /* Di chuyển lên trên một chút khi hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ nhẹ khi hover */
}
.cta-button {
  background-color: rgba(5, 8, 10, 0.1); /* Black background with 50% transparency */
  color: white; /* White text color */
  padding: 15px 30px; /* Padding for spacing */
  font-size: 18px; /* Font size */
  font-weight: bold; /* Bold font weight */
  border: none; /* Remove default border */
  border-radius: 30px; /* Fully rounded corners */
  letter-spacing: 1px; /* Slight spacing between letters */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  cursor: pointer; /* Change the cursor to pointer on hover */
  border: 1px solid #198754;
}

.cta-button:hover {
  background-color: #198754; /* Green background on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}
